pl_master/pl_master.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"wh_gold":{"type":"string"}},"variables":{},"resources":[{"name":"pl_master","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"get_global_parameter","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"wh_gold","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"abc.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('wh_gold')]","workspaceId":"abc"}},"objectId":"abc"},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"DECLARE\n  @time_zone_pl VARCHAR(128),\n\t@columns VARCHAR(MAX),\n\t@dynamic_sql NVARCHAR(MAX),\n  @now_datetime CHAR(23),\n  @process_timestamp CHAR(18);\n\nSELECT @time_zone_pl = [value]\nFROM lh_cfg.dbo.global_parameter\nWHERE [name] = 'time_zone_pl';\n\nSELECT @now_datetime = CONVERT(CHAR(23), GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE @time_zone_pl, 121);\nSELECT @process_timestamp = CONCAT(\n  SUBSTRING(@now_datetime, 1, 4),\n  SUBSTRING(@now_datetime, 6, 2),\n  SUBSTRING(@now_datetime, 9, 2),\n  '_',\n  SUBSTRING(@now_datetime, 12, 2),\n  SUBSTRING(@now_datetime, 15, 2),\n  SUBSTRING(@now_datetime, 18, 2),\n  SUBSTRING(@now_datetime, 21, 3)\n);\n/*set @process_timestamp = '20240912_082551150'*/\n\nSET @columns =\n(\n  SELECT STRING_AGG(A.[name], ',')\n  FROM\n    (\n      SELECT DISTINCT [name]\n      FROM lh_cfg.dbo.global_parameter\n      UNION ALL SELECT 'now_datetime'\n      UNION ALL SELECT 'process_timestamp'\n    ) AS A\n);\n\nSET @dynamic_sql = CONCAT(N'\nSELECT ', @columns, '\nFROM\n\t(\n\t  SELECT [name], [value]\n    FROM lh_cfg.dbo.global_parameter\n    UNION ALL SELECT ''now_datetime'', ''', @now_datetime, '''\n    UNION ALL SELECT ''process_timestamp'', ''', @process_timestamp, '''\n\t) AS S\n\tPIVOT\n\t(\n    MAX([value])\n    FOR [name] IN (', @columns, N')\n\t) AS P;\n');\n  \nEXEC sp_executesql @dynamic_sql;","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"nb_bronze_master","type":"TridentNotebook","dependsOn":[{"activity":"get_global_parameter","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"abc","workspaceId":"abc","parameters":{"global_parameter":{"value":{"value":"@string(activity('get_global_parameter').output.resultSets[0].rows[0])","type":"Expression"},"type":"string"},"workspace_id":{"value":{"value":"@pipeline().DataFactory","type":"Expression"},"type":"string"}}}},{"name":"nb_silver_master","type":"TridentNotebook","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"nb_bronze_master","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"abc","workspaceId":"abc"}},{"name":"nb_gold_master","type":"TridentNotebook","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"nb_silver_master","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"abc","workspaceId":"abc"}},{"name":"nb_power_bi_master","type":"TridentNotebook","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"nb_gold_master","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"abc","workspaceId":"abc"}},{"name":"nb_report_master","type":"TridentNotebook","dependsOn":[{"activity":"nb_power_bi_master","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"abc","workspaceId":"abc","parameters":{"global_parameter":{"value":{"value":"@string(activity('get_global_parameter').output.resultSets[0].rows[0])","type":"Expression"},"type":"string"},"workspace_id":{"value":{"value":"@pipeline().DataFactory","type":"Expression"},"type":"string"}}}},{"name":"if_send_success_email","type":"IfCondition","dependsOn":[{"activity":"nb_report_master","dependencyConditions":["Succeeded"]}],"typeProperties":{"expression":{"value":"@greater(int(json(activity('nb_report_master').output.result.exitValue).rv_success_row_count), 0)","type":"Expression"},"ifFalseActivities":[],"ifTrueActivities":[{"name":"send_success_email","type":"Office365Outlook","dependsOn":[],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"Sensitivity":"abc","Importance":"Normal","To":"@activity('get_global_parameter').output.resultSets[0].rows[0].email_on_success","Subject":"@concat('ETL Report (Success) - '\n    , activity('get_global_parameter').output.resultSets[0].rows[0].now_datetime\n)","Body":"@json(activity('nb_report_master').output.result.exitValue).rv_success_html"}}}}]}},{"name":"if_send_error_email","type":"IfCondition","dependsOn":[{"activity":"if_send_success_email","dependencyConditions":["Succeeded"]}],"typeProperties":{"expression":{"value":"@greater(int(json(activity('nb_report_master').output.result.exitValue).rv_danger_row_count), 0)","type":"Expression"},"ifFalseActivities":[],"ifTrueActivities":[{"name":"send_error_email","type":"Office365Outlook","dependsOn":[],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"Sensitivity":"abc","Importance":"Normal","To":"@activity('get_global_parameter').output.resultSets[0].rows[0].email_on_error","Subject":"@concat('ETL Report (Error) - '\n    , activity('get_global_parameter').output.resultSets[0].rows[0].now_datetime\n)","Body":"@json(activity('nb_report_master').output.result.exitValue).rv_danger_html"}}}}]}}],"lastModifiedByObjectId":"abc","lastPublishTime":"2024-09-12T14:16:24Z","logicAppsConnectionPayload":{"id":"/subscriptions/abc/resourceGroups/connections-abc/providers/Microsoft.Web/connections/abc_abc","properties":{"api":{"name":"office365","id":"/subscriptions/abc/providers/Microsoft.Web/locations/canadacentral/managedApis/office365"}}},"extraTridentInfo":"{\"folderObjectId\":\"abc\",\"capacityObjectId\":\"abc\",\"artifactType\":\"Pipeline\",\"provisionState\":\"Active\",\"lastUpdatedDate\":\"2024-09-12T14:16:24.522Z\",\"createdDate\":\"2024-05-06T18:47:07.949Z\",\"ownerUser\":{\"id\":123,\"name\":\"Peter Lalovsky\",\"objectId\":\"abc\",\"userPrincipalName\":\"peter.lalovsky@zpl-concept.com\",\"aadAppId\":null,\"type\":null},\"ownerUserId\":123,\"createdByUser\":{\"id\":123,\"name\":\"Peter Lalovsky\",\"objectId\":\"abc\",\"userPrincipalName\":\"peter.lalovsky@zpl-concept.com\",\"aadAppId\":null,\"type\":null},\"createdByUserId\":123,\"modifiedByUser\":{\"id\":123,\"name\":\"Peter Lalovsky\",\"objectId\":\"abc\",\"userPrincipalName\":\"peter.lalovsky@zpl-concept.com\",\"aadAppId\":null,\"type\":null},\"modifiedByUserId\":123,\"artifactRelations\":[{\"dependentArtifactObjectId\":\"abc\",\"settings\":0},{\"dependentArtifactObjectId\":\"abc\",\"settings\":0}],\"permissions\":71,\"artifactPermissions\":3,\"systemArtifactType\":\"None\",\"etag\":\"\\\"abc\\\"\"}"},"dependsOn":[]}]}